body{
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.jumbotron{
	margin:30px 20px;
	text-align:center;
	background-color: #deecdf;
}
h2{
	text-align:center;
}
h3{
	font-family: 'nunito', 'gotham rounded', 'nunito';
}
aside{
	position: fixed;
	top:210px;
	right:20px;
}
#avatar{
	width:120px;
	height:auto;
	margin-bottom:20px;
}
.info-skill-container{
	display: flex;
	padding:0 200px 0 250px;
}
#info{
	flex:1;
}
#skill{
	flex:1;
}
.share{
	display: flex;
	justify-content: space-around;
	margin:40px 200px;
}
.share img{
	margin:0 auto;
	border-radius: 50%;
	
}
.icon{
	width:90px;
	text-align:center;
	border:2px solid #E4E7E8;
	border-radius: 50%;
	padding:5px;
}
#music{
	position: fixed;
	right:30px;
	top:570px;
	padding:10px;
	border-radius: 50%;
	border:1px solid #E4E7E8;
	outline: none;
	background: rgba(0,0,0,0);
}
#music:hover{
	border:1px solid #C2C2C2;
	padding:12px;
}
#music-frame{
	display:none;
}
footer{
	text-align: center;
}
